/* COMMON */
:root {
    --main-color: #3692FF ;
    --btn-hover-color: #1967D6 ;
    --btn-click-color: #1251AA ;
    --gray-color: #9CA3AF ;
    --text-color: #374151;
    --bgPoint-color: #CFE5FF ;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    background-color: #FCFCFC;
    /*  */
    /* overflow: hidden; */
}
a {
    text-decoration: none;
    cursor: pointer;
}
.btn {
    background-color: var(--main-color);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn-round {
    border-radius: 40px;
    background-color: var(--main-color);
    padding: 12px 0 12px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
.bgtext {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

header .logo img {
    width: 153px;
    height: 51px;
    margin-left: 200px;
}

header .login {
    margin-right: 200px;
    display: block;
    width: 128px;
    text-align: center;
    padding: 12px 0 12px;
}






/* .banner */

.banner {
    background-color: var(--bgPoint-color);
    /* width: 1920px; */
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 405px 0;
}

.banner .inner .sightseeing {
    width: 357px;
    height: 260px;
    padding-bottom: 60px;
    /* margin: 40px 7px 40px 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}


.banner .inner .top-image {
    width: 746px;
    height: 340px;
}



.contents {
    background-color: #ffffff;
    width: 100%;
}

/* .hot-item  */

.hot-item {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-item .inner {
    width: 988px;
    background-color: #FCFCFC;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.hot-item .inner img { 
    width: 579px;
    height: 444px;
}

.hot-item .inner .text {
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 238px;
    word-break: keep-all;
    gap: 12px;
}

.hot-item .inner .text .tag { 
    font-size: 18px;
    font-weight: 800;
    /* line-height: 26px; */
    color: #3692FF;
}

/* .hot-item .inner .text .bgtext { 
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
} */

.hot-item .inner .text .discription { 
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}


/* .search */

.search {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .inner {
    width: 988px;
    background-color: #FCFCFC;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.search .inner img { 
    width: 579px;
    height: 444px;
}

.search .inner .text {
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 238px;
    word-break: keep-all;
    gap: 12px;
    text-align: right;
}

.search .inner .text .tag { 
    font-size: 18px;
    font-weight: 800;
    /* line-height: 26px; */
    color: #3692FF;
}

/* .search .inner .text .bgtext { 
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
} */

.search .inner .text .discription { 
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

/* .register */

.register {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .inner {
    width: 988px;
    background-color: #FCFCFC;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.register .inner img { 
    width: 579px;
    height: 444px;
}

.register .inner .text {
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 238px;
    word-break: keep-all;
    gap: 12px;
}

.register .inner .text .tag { 
    font-size: 18px;
    font-weight: 800;
    /* line-height: 26px; */
    color: #3692FF;
}

/* .register .inner .text .bgtext { 
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
} */

.register .inner .text .discription { 
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

/* .bottom-banner */

.bottom-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 138px;
}

.bottom-banner img { 
    height: 397px;
}

/* footer */

footer {
    height: 160px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #111827;
}

footer .copyright {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

footer .ask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
}

footer .ask a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

footer .sns {

}

footer .sns img { 
    width: 20px;
    height: 20px;
}